In [34]:
import pandas as pd
import numpy as np

In [35]:
columns = []
with open('allbp.names', 'r') as name_file:
    lines = name_file.readlines()
    for line in lines:
        if ':' in line:
            column_name = line.split(':')[0].strip()
            columns.append(column_name)
columns.append('classes')

In [3]:
data = pd.read_csv('allbp.data', na_values=['?'],names=columns)

In [4]:
data.replace({'f': 'no', 't':'yes'}, inplace=True)
yes_count = (data == 'yes').sum()

In [9]:
#1. List of variables that has at least one yes (true) value, and the total amount divided by 2800
yes_count[yes_count > 0] / 2800

on thyroxine                 0.117857
query on thyroxine           0.014286
on antithyroid medication    0.012143
sick                         0.039286
pregnant                     0.014643
thyroid surgery              0.013929
I131 treatment               0.017143
query hypothyroid            0.058214
query hyperthyroid           0.061786
lithium                      0.005000
goitre                       0.008929
tumor                        0.025357
hypopituitary                0.000357
psych                        0.048214
TSH measured                 0.898571
T3 measured                  0.791071
TT4 measured                 0.934286
T4U measured                 0.893929
FTI measured                 0.894643
dtype: float64

In [10]:
# 2. for each of the TSH, T3, TT4, T4U, FTI and TBG variables, calculate 
# the sum of the squared values divided by the number of non-NA values.
new_data = data[['TSH', 'T3','TT4', 'T4U', 'FTI', 'TBG']]

In [28]:
data_squared = new_data * new_data
sum_of_squared_values = data_squared.sum()

In [29]:
sum_of_squared_values

TSH    1.212020e+06
T3     1.058802e+04
TT4    3.439761e+07
T4U    2.587104e+03
FTI    3.345403e+07
TBG    0.000000e+00
dtype: float64

In [30]:
number_of_non = data_squared.notna().sum()

In [31]:
number_of_non

TSH    2516
T3     2215
TT4    2616
T4U    2503
FTI    2505
TBG       0
dtype: int64

In [33]:
sum_of_squared_values / number_of_non

TSH      481.725148
T3         4.780147
TT4    13148.934755
T4U        1.033601
FTI    13354.902248
TBG             NaN
dtype: float64

In [67]:
# 3. calculate the mean ratio between T3 and TT4.
mean_T3 = np.mean(data['T3'])
mean_TT4 = np.mean(data['TT4'])

In [68]:
# mean ratio
mean_T3 / mean_TT4

0.01856533943142266