5. In this exercise we use `Horse Colic data set` from https://archive.ics.uci.edu/ml/datasets/Horse+Colic (the `horse-colic.data` file under `Data Folder`), which contained in the UCI Machine Learning Repository. Download the data, read it to your software and make sure that the missing values (question marks) are handled correctly.

Does the horse colic data provide statistical evidence that the mean `rectal temperature` or `age` or `pulse` are different between colic horses treated without surgery and those treated with surgery?

In [46]:
import pandas as pd
import numpy as np

In [60]:
p = [i for i in range(1,30)]

In [61]:
data = pd.read_csv('horse+colic/horse-colic.data', sep=' ',na_values=['?'],names=p)

In [89]:
column_name_changes = {
    1: 'surgery',
    2: 'age',
    4: 'rectal_temp',
    5: 'pulse'
}

# Rename columns using the rename method
data.rename(columns=column_name_changes, inplace=True)

data['surgery'].replace({1: 'yes', 2: 'no'}, inplace=True)

In [90]:
groups = data.groupby('surgery')

In [91]:
groups[['age', 'rectal_temp', 'pulse']].aggregate([np.mean,])

              age rectal_temp      pulse
             mean        mean       mean
surgery
no       1.403361   38.204040  65.504505
yes      1.800000   38.143571  76.396341

Older horses has more surgerys;
Mean temperature is little lower with horses that has underwent surgery;
Mean pulse is a lot higher with horses that has underwent surgery