In [1]:
import pandas as pd

In [32]:
year = []
no_smoothing = []
lowess = []
with open('data.txt', 'r') as data:
    lines = data.readlines()
    for line in lines:
        if line[0] == '1' or line[0] == '2':
            new_line = line.split()
            year.append(new_line[0])
            no_smoothing.append(new_line[1])
            lowess.append(new_line[2])

In [36]:
data = pd.DataFrame({'year':year, 'no_smoothing': no_smoothing, 'lowess': lowess})

In [37]:
data

     year no_smoothing lowess
0    1880        -0.17  -0.09
1    1881        -0.08  -0.13
2    1882        -0.11  -0.17
3    1883        -0.18  -0.20
4    1884        -0.28  -0.24
..    ...          ...    ...
137  2017         0.92   0.91
138  2018         0.85   0.92
139  2019         0.98   0.93
140  2020         1.01   0.93
141  2021         0.84   0.93

[142 rows x 3 columns]