In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Create vectors
# A: 5, 8, 7, 6, 8, 4 B: 1.3, 2.1, 1.8, 1.2, 1.4, 2.3 C: y, y, n, y, n, n

In [2]:
A = pd.Series([5,8,7,6,8,4])
B = pd.Series([1.3,2.1,1.8,1.2,1.4,2.3])
C = pd.Series(['y','y','n','y','n','n'])

In [9]:
# Combine the vectors into a data matrix with 3 columns and 6 rows.

In [7]:
matrix = pd.DataFrame({'A':A,'B':B,'C':C})

In [8]:
matrix

   A    B  C
0  5  1.3  y
1  8  2.1  y
2  7  1.8  n
3  6  1.2  y
4  8  1.4  n
5  4  2.3  n

In [ ]:
# From the data matrix 
# a) print element (3,2).
# b) print the 4th row.
# c) create submatrix of 2 last columns and rows 2-5.
# d) transpose the data matrix so that it has 6 columns and 3 rows.

In [13]:
# (3,2)
matrix.iloc[3][2]

'y'

In [14]:
# 4th row
matrix.iloc[[3]]

   A    B  C
4  8  1.4  n

In [49]:
# rows from 2-5 and columns B, C
new_matr = matrix.iloc[2:,1:3]

In [50]:
new_matr

     B  C
2  1.8  n
3  1.2  y
4  1.4  n
5  2.3  n

In [52]:
# transpose
matrix.transpose()

     0    1    2    3    4    5
A    5    8    7    6    8    4
B  1.3  2.1  1.8  1.2  1.4  2.3
C    y    y    n    y    n    n